.theme-color-bg {
  background-color: #f36b6b !important;
}

.theme-color-text {
  color: #f36b6b;
}

.no-border {
  border: none;
}

.m-r-1 {
  margin-right: 1rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-2 {
  margin-bottom: 2rem !important;
}

.text-bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-left {
  text-align: left;
}

.bg-transparent {
  background-color: transparent;
}

.space-text {
  display: flex;
  justify-content: space-between;
}

.display-flex {
  display: flex;
}